<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 被代理对象 ： 实际业务bean -->
    <bean id="app" class="com.manonline.examples.proxy.configsample.App"/>

    <!-- 切面实现类 ： Bean -->
    <bean id="audience" class="com.manonline.examples.proxy.configsample.xml.Audience"/>

    <aop:config>
        <!-- 定义切点-->
        <aop:pointcut id="p" expression="execution(* com.manonline.examples.proxy.configsample.App.add(..))"></aop:pointcut>>
        <!-- 定义advisor : 绑定切点和切面方法 -->
        <aop:advisor advice-ref="audience" pointcut-ref="p"/>
    </aop:config>

    <aop:config>
        <!-- 定义切面，并绑定切面实现类 -->
        <aop:aspect ref="audience">
            <!-- 定义切点-->
            <aop:pointcut id="p" expression="execution(* com.manonline.examples.proxy.configsample.App.add(..))"></aop:pointcut>>
            <!-- 定义执行的时机和方法 -->
            <aop:before pointcut-ref="p" method="takeSeats"/>
            <aop:before pointcut-ref="p" method="turnOffCellphone"/>
            <aop:after-returning pointcut-ref="p" method="applaud"/>
            <aop:after-throwing pointcut-ref="p" method="demandRefund"/>
        </aop:aspect>
    </aop:config>

</beans>


<!--
使用ProxyFactoryBean配置有些欠优雅，在spring2.0里新的xml配置元素体现了改进。Spring2.0在aop命名空间里提供了一些
配置元素，简化了把类转化为切面的操作。本质的使用同上，只是简化配置，隐藏细节
-->